---
layout: default
---

<nav>
  <a href="/">Home</a>
  <% if resource.data.game_url %> &bull; <a href="<%= resource.data.game_url %>"><%= resource.data.game %></a><% end %>
  <% if resource.data.book_url %> &bull; <a href="<%= resource.data.book_url %>"><%= resource.data.book %></a><% end %>
</nav>

<%= yield %>

<div class="abc-player-bar" id="abc-player-bar">
  <div class="abc-player-bar__audio audio abcjs" id="page-audio"></div>
  <div class="abc-player-bar__controls">
    <label class="abc-player-bar__control">
      <span>Transpose</span>
      <select id="transpose-select"></select>
    </label>
    <label class="abc-player-bar__control abc-player-bar__control--checkbox" for="tablature-toggle">
      <input type="checkbox" id="tablature-toggle">
      <span>Tablature</span>
    </label>
  </div>
</div>
